<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">
    <bean id="dataSource" class="org.apache.commons.dbcp.datasources.SharedPoolDataSource" destroy-method="close">
        <property name="connectionPoolDataSource">
            <bean class="org.apache.commons.dbcp.cpdsadapter.DriverAdapterCPDS">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="${db.url}"/>
                <property name="user" value="${db.user}"/>
                <property name="password" value="${db.password}"/>
            </bean>
        </property>
        <property name="maxActive" value="20"/>
        <property name="maxWait" value="5000"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="mapper" abstract="true" class="org.mybatis.spring.mapper.MapperFactoryBean"/>
    <bean id="organizationMapper" parent="mapper">
        <property name="mapperInterface" value="com.cobaltolabs.cms.core.daos.mybatis.OrganizationMapper"/>
    </bean>
    <bean id="organizationDao" class="com.cobaltolabs.cms.core.daos.impl.OrganizationDaoImpl">
        <property name="mapper" ref="organizationMapper"/>
    </bean>
    <beans profile="test">
        <jdbc:initialize-database data-source="dataSource">
            <jdbc:script location="classpath:drop-schema.sql"/>
            <jdbc:script location="classpath:schema.sql"/>
            <jdbc:script location="classpath:data.sql"/>
        </jdbc:initialize-database>
    </beans>
</beans>